@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 38, 38, 38;
  --background-end-rgb: 28, 28, 28;
  height: 100%;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
        0deg,
        transparent,
        rgb(var(--background-start-rgb)),
        rgb(var(--background-end-rgb))
      )
      no-repeat,
    rgb(var(--background-start-rgb));
}

body {
  height: 0%;
}
